.after-office {
    background-color: rgb(119, 19, 104);
    height: 60vh;
    width: 100%;
    position: relative;
    z-index: 10;
    .carousel-text-container {
        position: absolute;
        width: 100%;
        z-index: 10; 
        .carousel-text {
          text-shadow: 2px 2px #383838;
          width: 100%; 
          font-size: 20px;
          text-align: center;
          color: #ffffff;
          .text-black{ color: #000000;}
          .text-white{ color: #ffffff;}
          span{
            font-size: 50px;
            &:first-of-type {
                margin-bottom: 100px;
            }
          }
        }
        
      }
}
