.afterhero{
        background: linear-gradient(to top, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%);
        // background-color: green;
        position: fixed; /* Fix the Afterhero to the viewport */
        top: 0;
        left: 0;
        width: 100%;
        height: 120vh; /* Cover the entire viewport */
        z-index: 99; 
        transform: translateY(-100%); /* Start offscreen (below the viewport) */
        transition: transform 0.5s ease-in-out;
      
        &.visible {
          transform: translateY(0);
        }
}

