// @import "./utils/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.app {
    position: relative;
    height: auto;
    background-color: white;
}

#smooth-wrapper {
    position: relative; 
    // height: 100vh; 
  }

.app-container{
    position: relative;
    background-color: white;
    // height: 100vh; 
    // overflow-y: scroll;
    width: 100vw;
    border: 2px solid red; 
}

.no-scroll {
    overflow: hidden; 
  }


  
  