  
  .carousel-container {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: #000000;
        // overflow: hidden;
  }

.scroll-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    // scroll-snap-type: x mandatory;
}

.background {
    flex: none;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3; // Higher z-index to appear on top of the background
  }

  @keyframes shake {
    0% { transform: translateX(0) rotate(0); }
    25% { transform: translateX(-2px) ; }
    50% { transform: translateX(1px) ; }
    75% { transform: translateX(-2px) ; }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.3s infinite; // Fast and high-frequency shaking
  }

  .move {
    animation: starsMove 5s infinite; 
    transform-origin: bottom center;
    transform: scale(1) rotate(-50deg) translate(-100px, 0px);
  }

  @keyframes starsMove {
    0% {
        transform: scale(0.9)  translate(-30px, 60px) rotate(2deg) ;
      }
      100% {
        transform: scale(1) translate(50px, 70px) rotate(-7deg) ;
      }
  }

.chair {
    position: absolute;
    height: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    z-index: 2;
}
  
//   // Hero Chair Overlay
//   .hero-chair {
//     position: absolute;
//     bottom: 50px;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 10;
  
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }
  
//   // Slider Styles
//   .slider {
//     display: flex;
//     height: 100vh;
//     width: 500vw; // 5 sections, each full screen
//     overflow-x: scroll;
//     scroll-snap-type: x mandatory;
//     -webkit-overflow-scrolling: touch;
//   white-space: nowrap;
  
//     .slides {
//       display: flex;
//       height: 100%;
//       width: 100%;
//     }
  
//     .slide {
//       flex: 0 0 100vw;
//       height: 100vh;
//       width: 100vw;
//       background-size: cover;
//       background-position: center;
//       scroll-snap-align: start;
//     }
//   }
  