.hero-section_container {
    position: relative;
    height: 400vh; 
    width: 100vw;
    overflow: hidden;
    // overflow-y: auto;
  }

  .non-fixed {
    top: -200% !important;

    transition: all 3s ease-in-out;
  }

  .hero-section {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1; 
    height: 100vh;
    width: 100vw;
    background-image: url('src/assets/chairs/hero_chairs.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transform-origin: center;
  }
  
  .canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2; 
    pointer-events: none; 
  }


  // .hero-transition_moving{
  //   transition: all 3s ease-in-out;
  //   bottom: 0vh !important;
  // }
  
  // .hero-transition{
  //   position: absolute;
  //   transition: all 3s ease-in-out;
  //   z-index: 10;
  //   bottom: -120vh;
  //   height: 120vh;
  //   width: 100%;
  //   background: linear-gradient(
  //     to top,
  //     black 77%,
  //     rgba(0, 0, 0, 0)
  //   );
  // }

  .no-scroll {
    overflow: hidden; 
  }

@media (min-width: 769px) {
    .hero-section {
        background-position: center bottom !important;
        border: 2px solid rgb(145, 22, 169);

        position: fixed !important; /* Keep fixed */
        top: 0;
        left: 0;
        z-index: 1; /* Below the canvas */
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        transform-origin: center;
        transition: all 0.3s ease;
        will-change: transform, scale;
    }
}
