.hero-section_container {
    background-color: rgb(64, 238, 238);
    position: relative;
    height: 300vh; 
    width: 100vw;
    z-index: 99;
    overflow: hidden; 
    .bottom{
      background-color: rgb(240, 32, 32);
      opacity: 1;
        position: absolute;
        bottom: 0;
        height: 5px; 
        width: 100vw;
        z-index: 99;
        overflow: hidden; 
     }
  }

  .hero-section_sibling{
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100; 
    height: 100vh;
    width: 100vw;
    transition: all 2s ease-in-out;
  }

  // .hero-section_overflow{
  //   position: fixed; 
  //   border: 3px rgb(255, 0, 208) solid;
  //   height: 100vh;
  //   width: 100vw;
  //   top: 0;
  //   left: 0;
  //   z-index: 99;
  //   overflow: hidden;
  // }
  .hero-section {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 99; 
    height: 100vh;
    width: 100vw;
    background-image: url('src/assets/chairs/hero_chairs.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    transform-origin: center;
    // transition: all 2s ease-in-out; //can't apply, slows 
  }

  .hero-section::after {
    content: '';
    position: absolute;
    z-index: 99;
    bottom: 0vh;
    left: 0;
    width: 100%;
    height: 25vh;
    background: linear-gradient(to top, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
   
  }

 
  // .hero-section.gradient-visible::after {
  //   content: '';
  //   position: absolute;
  //   z-index: 99;
  //   bottom: 0vh;
  //   left: 0;
  //   width: 100%;
  //   height: 25vh;
  //   background: linear-gradient(to top,
  //   rgb(0, 0, 0) 60%, 
  //   rgba(0, 0, 0, 0) 100%, 
  //   );
  //   pointer-events: none;
  //   opacity: 0; 
  //   transition: all 2s ease-in-out; 
  // }
  
  .hero-section.gradient-visible::after {
    opacity: 1;

  }
  
  .canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99; 
    pointer-events: auto; 
    transition: all 1s ease-in-out;
  }

  .no-scroll {
    overflow: hidden; 
  }

@media (min-width: 769px) {
    .hero-section {
        background-position: center bottom !important;
        // border: 2px solid rgb(145, 22, 169);

        position: fixed !important; /* Keep fixed */
        top: 0;
        left: 0;
        z-index: 1; 
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        transform-origin: center;
        transition: all 0.3s ease;
        will-change: transform, scale;
    }
}
