.main-section {
  position: absolute;
  top:300vh;
  height: 300vh;
  width: 100vw;
  background-color: #000000;
}

.black-transition{
  height: 10vh;
  width: 100vw;
  background-color: #000000;
}
.black-screen {
  background-color: #1f1e23;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
}

.black-screen_transparency{
  opacity: 0.8;
}

.office-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2; // Higher z-index to ensure it's on top
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('src/assets/office/office_cutout.png');
  background-position-x: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
}

.pc {
  z-index: 1; // Lower z-index to ensure it's behind .office-content
}

.pc-left {
  position: absolute;
  top: 62vh;
  left: 5px;
  height: auto;
  width: 38vw;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-right {
  position: absolute;
  top: 58vh;
  right: 11vw;
  height: auto;
  width: 21vw;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-right video, 
.pc-left video {
  border-radius: 10%;
  width: 100%;
  object-fit: contain;
}



.second-section {
  position: absolute;
  top: 100vh; /* Starts immediately after .office-content */
  left: 0;
  z-index: 4; /* Lower z-index if it should appear below .office-content */
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
}
